<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>8192</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/home/ben/.op-return-bot/logs/op-return-bot.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- hourly rollover -->
      <fileNamePattern>/home/ben/.op-return-bot/logs/op-return-bot-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>

      <!-- each file should be at most 100MB, keep 2 days of history, and at most 2GB in the archive -->
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>48</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="INFO">
    <appender-ref ref="ASYNC" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
