@import controllers.Forms.OpReturnRequest
@(widgets: Seq[OpReturnRequest], form: Form[OpReturnRequest], postUrl: Call)(implicit request: MessagesRequestHeader)

    @main("Widgets") {

        <h1>Requests</h1>
        @* Flash shows updates to a page *@
        @request.flash.data.map { case (name, value) =>
        <div>@name: @value</div>
        }

        <table>
            <thead>
                <tr><th>Message</th></tr>
            </thead>
            <tbody>
            @for(w <- widgets) {
                <tr>
                    <td>@w.usedMessage</td>
            </tr>
            }
            </tbody>
        </table>

        <hr/>
        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    @error.key: @error.message
                </div>
            }
        }

        @helper.form(postUrl) {
            @helper.CSRF.formField

            @helper.inputText(form("Message"))

            @helper.inputCheckboxGroup(form("Hash"), Seq("H" -> "Hash"))

            <button>Create Invoice</button>
        }
    }
