@import org.bitcoins.core.protocol.ln.LnInvoice
@import org.bitcoins.crypto.CryptoUtil
@(message: String, invoice: LnInvoice)(implicit request: MessagesRequestHeader)

    @main("Invoice") {
        <script src="@routes.Assets.versioned("javascripts/checkInvoice.js")" type="text/javascript"></script>
        <script>
                const rhash = "@invoice.lnTags.paymentHash.hash.hex";
                setInterval(queryAPI, 1000, rhash);
        </script>

        <h1>Invoice</h1>

        <h3>Message: @message</h3>
        <h4>SHA256: @{CryptoUtil.sha256(message).hex}</h4>

        <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=lightning:@{
            invoice.toString()
        }&amp;size=1000x1000" alt="" title="invoice" width="300" height="300" />
        <br>
        <code>@invoice.toString()</code>
        <br>

        <form method="get" action="invoice">
            <input type="text" id="invoice" name="invoice" hidden value="@invoice.toString()"/>
            <input type="submit" value="Paid"/>
        </form>
    }
