@import org.bitcoins.core.protocol.ln.LnInvoice
@import org.bitcoins.crypto.CryptoUtil
@import org.bitcoins.core.protocol.BitcoinAddress
@(message: String, rHash: String, unified: String)(implicit request: MessagesRequestHeader)

    @main("Invoice") {
        <script src="@routes.Assets.versioned("javascripts/checkInvoice.js")" type="text/javascript"></script>
        <script>
                const rhash = "@rHash";
                setInterval(queryAPI, 1000, rhash);
        </script>

        <h1>Invoice</h1>

        <h3>Message: @message</h3>
        <h4>SHA256: @{CryptoUtil.sha256(message).hex}</h4>

        <img id='barcode' src="qr?string=@{unified}&width=300&height=300" alt="" title="invoice" width="300" height="300" />
        <br>
        <code>@unified</code>
        <br>
    }
